@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin breakpoint($size) {
  @if $size == xsmall-landscape {
    @media screen and (max-width: 37.5em) and (orientation : landscape),
            screen and (max-height: 20em) and (orientation : landscape) { @content; }
  }
  @else if $size == xsmall {
    @media screen and (max-height: 20em) and (orientation : portrait),
            screen and (max-height: 40em) and (orientation : portrait) { @content; }
  }
  @else if $size == small {
    @media screen and (max-width: 39.938em) { @content; }
  }
  @else if $size == small-landscape {
    @media screen and (max-width: 46em)  and (max-height: 25.875em)
      and (orientation : landscape) { @content; }
  }
  @else if $size == medium {
    @media screen and (max-width: 63.9375em) { @content; }
  }
  @else if $size == large {
    @media screen and (max-width: 90em) { @content; }
  }
  @else if $size == xlarge {
    @media screen and (min-width: 100.063em) { @content; }
  }
  @else {
    @warn "Breakpoint not supported";
  }
}

